:root {
  --main-font: "Gemunu Libre", sans-serif;
  --para-font: "Montserrat", sans-serif;
  --brand-color: #def7f2;
  --secondary-color: #1eedd5;
}

.hero-banner {
  background-color: var(--brand-color);
  font-family: var(--main-font);
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
}

h1 {
  font-size: 70px;
}

h2,
h3,
p {
  font-family: var(--para-font);
  padding-top: 3%;
  padding-bottom: 3%;
}

h3 {
  font-weight: bold;
}

.btn-primary {
  background-color: var(--secondary-color);
  color: black;
  border: none;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: var(--brand-color);
  color: black;
}

.row {
  border: 1px solid;
  border-radius: 20px;
  border-color: var(--secondary-color);
  display: center;
  padding: 5%;
  margin-top: 5%;
}

@media (max-width: 960px) {
  .row {
    border: none;
    text-align: center;
  }

  h1 {
    font-size: 47px;
  }
}
