:root {
  --main-font: "Gemunu Libre", sans-serif;
  --para-font: "Montserrat", sans-serif;
  --brand-color: #e8f2e8;
  --secondary-color: #73a05d;
}

.hero-banner {
  background-color: var(--brand-color);
  font-family: var(--main-font);
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
}

.about-banner {
  font-family: var(--main-font);
}

h1 {
  font-size: 70px;
}

h2,
h3,
p {
  font-family: var(--para-font);
  padding-top: 3%;
  padding-bottom: 3%;
}

h3 {
  font-weight: bold;
  font-size: 40px;
}
h4 {
  font-weight: lighter;
  font-size: 15px;
}

.row,
.contact-box {
  border: 1px solid;
  border-radius: 20px;
  border-color: var(--secondary-color);
  display: center;
  padding: 5%;
  margin-top: 5%;
}
.btn-primary {
  background-color: var(--secondary-color);
  color: black;
  border: none;
  border-radius: 10px;
  width: 100px;
  margin: 5px;
  font-family: var(--main-font);
}

.btn-primary:hover {
  background-color: var(--brand-color);
  color: black;
}

.style-h2 {
  text-align: center;
  padding: 10%;
}

.logo {
  max-height: 50px;
  max-width: 70px;
}

nav {
  text-align: center;
  padding: 20px;
  font-family: var(--main-font);
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 10px;
}
a,
nav a {
  text-decoration: none;
  color: black;
}
a:hover,
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

footer {
  margin: 50px auto;
  padding: 60px;
}

.social-links {
  margin-top: 30px;
  color: var(--secondary-color);
  font-size: 20px;
}
i {
  padding: 10px;
}

footer .btn-primary {
  width: 200px;
  margin: 20px;
}

@media (max-width: 400px) {
  .row {
    border: none;
    text-align: center;
  }

  h1 {
    font-size: 35px;
  }

  p {
    line-height: 30px;
  }

  .about-banner,
  .hero-banner {
    max-height: 200%;
    max-width: 400px;
  }
}

.col-md-6 {
  width: 500px;
  height: 500px;
  padding-right: 2%;
  justify-content: left;
}

img {
  border-radius: 20px;
}
